/*	Meyer's CSS Reset
 *	http://meyerweb.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* END RESET */
/* COLOR PALETTE:
 * http://www.colourlovers.com/palette/67728/picasso_blue */

/* TYPOGRAPHY */
* {font: Helvetica, Arial, sans; color: black;}
body {line-height: 1.4}
h1, h2, h3, h4, h5 {
	font-weight: bold;
	}
h1 {
	font-size: 1.8em;
	}
h2 {
	font-size: 1.4em;
	}
h3 {
	font-size: 1.2em;
	text-decoration: underline;
	}
h4	{
	font-size: 1em;
	}
p, a {
	font-size: 0.9em;
	}
small {
	font-size: 0.6em;
	}
/* LINKS */
a {
	display: inline;
	text-decoration: none;
	border-bottom: 1px dotted black;
	}
a:hover {
	color: #414E39;
	border-bottom: 1px solid #414E39;
	}

/* LAYOUT */
#container {
	width: 750px;
	margin: auto;
	}
#latest_oligos, #latest_constructs {
	margin: 1em 0;
	padding: 0.25em;
	}
#latest_oligos {
	width: 48%;
	float: left;
	}
#latest_constructs {
	width: 48%;
	float: right;
	}
/* DESIGN & DECORATION */
body {
	border-top: 20px solid black;
	border-bottom: 20px solid black;
	}
#container {
	margin: 2em auto;
	}
#top {
	border-bottom: 2px solid #7F8F74;
	}
#crumbs {
	border: 1px solid #7F8F74;
	height: 2.3em;
	}
#crumbs li {
	line-height: 2.3em;
	float: left;
	padding-left: 0.75em;
	}
#crumbs li a {
	display: block;
	border: none;
	padding: 0 15px 0 0;
	background: url(site_media/crumbs.gif) no-repeat right center;
	}
#main {
	clear: both;
	}
#latest_oligos, #latest_constructs {
	border: 2px dashed #7F8F74;
	background-color: #E0F0D6;
	}
#oligo_list {
	border-bottom: 1px solid #414E39;
	}
#oligo_list li {
	border-top: 1px solid #414E39;
	padding: 0.25em 0;
	}
#footer	{
	clear: both;
	border-top: 2px solid #7F8F74;
	}
